@media (max-width: 800px){
    main .container-main div{
        margin: auto;
    }

    main .container-main img{
        display: none;
    }

    h2{
        margin-left: 30px;
    }

    div h3{
        margin-left: 30px;
    }

    form{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        flex-direction: column;     
    }

    input{
        margin:0px;
    }

    #apresentacao{
        margin-left: 30px;
    }
}

@media (max-width:1000px){
    .container{
        padding: 0px 20px;
    }
}

@media (max-width:630px){
   .menu-bottom-container{ /*para que ela apareça no local dela independente do tamanho da tela*/
    display:flex;
   }
   .menu {
        position:absolute; /*faz com que o menu permaneça apenas na parte superior da página*/
        margin-top: 30px;   /*para que o menu fique abaixo do botão e não sobrepondo ele*/
        flex-direction: column; /*no estilo de colunas*/
        width: 100vw;   /*pegando toda a lateral da tela*/
        justify-content: center; /*com os textos no centro*/
        align-items: center; /*altura da linha também centralizado*/
        left: 100%; /*vindo da direita para esquerda*/
        transform: translateX(100vw); /*tomando toda a tela*/
        transition: 0.5s ease transform; /*de forma suave*/
    }
    .menu>li {       /*configurar cada item do menu*/
        display: flex;
        justify-content: center;
        margin: 0; /*sem margem entre os itens*/
        padding: 0px; /*sem espaçamento dos itens*/
        width: 100%; /*toda a largura da caixa*/
        color: white;
        background-color:rgb(252, 170, 170);
        border-radius: 5px; /*com bordas levemente arredondadas*/
    }
    .menu>li:not(:last-child) { /*não aplica no último filho da lista*/
        border-bottom: 1px solid white;
    }
    .menu li a {        /*faz com que o botão seja clicado em qualquer lado da tela*/
        flex: 1;
        text-align: center;
    }

    main .menu-container img{
        display:none;
    }
    
    label{
        cursor:pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }
    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }
    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 8px;
    } 
    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){ /*para adicionar o efeito no icone do menu, o primeiro traço rota para um lado */
        transform: rotate(-45deg);
        top: 8px;
    }
    #checkbox-menu:checked + label span:nth-child(2){ /*o segundo traço some*/
       opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){ /*o terceiro traço rota para o outro lado, cruzando o primeiro traço*/
        transform: rotate(45deg);
        top: 8px;
    }

    nav.menu{       /*para garantir que os itens sempre ocupem 100% da largura da tela*/
        width: 100%;
    }

    #checkbox-menu:checked~nav .menu { /*ao clicar no botão menu ele se transforma no navegador*/
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }
}

